<template>
    <v-app class="bg">
        <v-toolbar dark color="#37474F">
            <v-toolbar-title class="font-sign">Image369</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-layout justify-center class="mt-2">
                <v-btn icon>
                    <v-icon x-large>rotate_left</v-icon>
                </v-btn>

                <v-btn icon>
                    <v-icon x-large> rotate_right</v-icon>
                </v-btn>
                <v-btn icon @click="zoomOUT()">
                    <v-icon x-large>zoom_out</v-icon>
                </v-btn>

                <v-flex xs4>
                    <v-slider v-model="slider" track-color="white" min="0" max="100" class="mt-2"></v-slider>
                </v-flex>
                <v-btn icon @click="zoomIN()">
                    <v-icon x-large>zoom_in</v-icon>
                </v-btn>
                <h4 class="mt-3">{{slider}}%</h4>
            </v-layout>
            <v-spacer></v-spacer>
        </v-toolbar>
        <v-navigation-drawer v-model="drawer" :mini-variant.sync="mini" hide-overlay stateless dark
            class="blue-grey darken-3" width="350">
            <v-toolbar flat class="transparent">
                <v-list class="pa-0">
                    <v-list-tile avatar>
                        <v-list-tile-avatar>
                            <v-icon x-large>account_circle</v-icon>
                        </v-list-tile-avatar>

                        <v-list-tile-content>
                            <v-list-tile-title>{{email}}</v-list-tile-title>
                        </v-list-tile-content>

                        <v-list-tile-action>
                            <v-btn icon @click.stop="mini = !mini">
                                <v-icon>chevron_left</v-icon>
                            </v-btn>
                        </v-list-tile-action>
                    </v-list-tile>
                </v-list>
            </v-toolbar>

            <v-list class="pt-0" dense two-line="true">
                <v-divider></v-divider>

                <v-list-tile v-for="item in items" :key="item.title" @click="" >
                    <v-list-tile-action>
                        <v-icon x-large>{{ item.icon }}</v-icon>
                    </v-list-tile-action>

                    <v-list-tile-content>
                        <v-list-tile-title class="vlist" >{{ item.title }}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>           
        </v-navigation-drawer>
    </v-app>
</template>

<script>
    export default {
        name: 'Edit',
        data() {
            return {
                slider: 1,
                email: 'dummy@gmail.com',
                drawer: true,
                items: [{
                        title: 'Color Balance',
                        icon: 'color_lens'
                    },
                    {
                        title: 'Exposure',
                        icon: 'exposure'
                    },
                    {
                        title: 'Crop',
                        icon: 'crop'
                    },
                    {
                        title: 'Invert',
                        icon: 'invert_colors'
                    },
                    {
                        title: 'Vibrance',
                        icon: 'vibration'
                    },
                    {
                        title: 'Black and White',
                        icon: 'monochrome_photos'
                    },
                    {
                        title: 'Add Texts',
                        icon: 'text_fields'
                    }

                ],
                mini: true,
                right: null
            }
        },
        methods: {
            zoomIN() {
                this.slider++;
            },
            zoomOUT() {
                this.slider--;
            }
        }
    };
</script>

<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

    .bg {
        background-color: #263238;
    }

    .font-sign {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: bold;
    }


    .font-btn {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }

    .font {
        font-family: 'Montserrat', sans-serif;
    }

    .vlist {
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
    }
</style>