<template>
<span>
<AppNavigation></AppNavigation>
<HomeMain></HomeMain> <!--Component na naglalagay background-->
</span>
</template>

<script>
import HomeMain from '@/components/HomeMain.vue';
import AppNavigation from '@/components/AppNavigation';
export default {
    name: 'home',
    components:{
        HomeMain,
        AppNavigation
    }
};
</script>

<style scoped>

</style>
