<template>
    <v-app class="landing-page">
        <v-container fill-height>
            <v-layout align-center justify-center>
                <AppNavigation></AppNavigation>
                <v-flex xs12 sm8 md4>
                    <v-card color="#263238" light>
                        <v-toolbar dark color="#263238">
                            <v-toolbar-title class="font-sign">SIGN-UP</v-toolbar-title>
                        </v-toolbar>
                        <v-card-text>
                            <v-form ref="form" v-model="valid" lazy-validation >
                                <h2>Email</h2>
                                <v-text-field  name="email" solo type="email"
                                    v-model="email" :rules="emailRules" required>
                                </v-text-field>
                                <h2>Password</h2>
                                <v-text-field  name="password" solo id="password"
                                    type="password" required v-model="password" :rules="passwordRules">
                                </v-text-field>
                                <h2>Confirm Password</h2>
                                <v-text-field  name="cpassword" solo id="cpassword"
                                    type="password" required v-model="cpassword" :rules="cpasswordRules">
                                </v-text-field>
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn large color="primary" :disabled="!valid" @click="submit">Join</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>

</template>


<script>
import AppNavigation from '@/components/AppNavigation';
    export default {
        name: 'Signup',
    components:{
        AppNavigation
    },
        data() {
    return {
        valid: false,
        email: '',
        password: '',
        cpassword:'',
        emailRules: [
            v => !!v || 'E-mail is required',
            v => /.+@.+/.test(v) || 'E-mail must be valid'
        ],
        passwordRules: [
            v => !!v || 'Password is required',
            v =>
                v.length >= 6 ||
                'Password must be greater than 6 characters'
        ],
        cpasswordRules: [
            v => !!v || 'Password is required',
            v =>
                v==this.password||'entered password is not equal'
        ]
    };
}
    }
</script>
<style scoped>
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

    .landing-page {
        background: url("../assets/bg-main.png");
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .font-sign {
        font-family: 'Montserrat', sans-serif;
        font-size: 30px;
        font-weight: bold;
    }

    .font-btn {
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
    }
    h2{
        color: white;
    }
</style>