<template>
  <nav>
    <div class="text-xs-center">
      <!-- Toolbar code(ung may bar sa site nakalagay ung title)-->
      <v-toolbar app color="#263238" dark>
        <v-spacer></v-spacer>
        <v-toolbar-title class="text-xs-center font-title">
          <router-link to="/" class="remove">Image369</router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>

        <v-menu :close-on-content-click="false" :nudge-width="255" offset-y=true class="text-xs-center " right=true>

          <template v-slot:activator="{ on }">
            <v-btn flat v-on="on" fab dark>
              <v-icon x-large color="white">line_weight</v-icon>
            </v-btn>
          </template>

          <!--Sign up prompt kapag malaki screen-->
          <v-card color="#263238" dark class="hidden-sm-and-down">
            <v-card-title primary-title>
              <div>
                <h3 class=" font-sign">SIGN-IN</h3>
              </div>
            </v-card-title>
            <v-card-content>

              <v-form class="px-3">
                <v-text-field label="Username" solo light v-model="username"></v-text-field>

                <v-text-field v-model="password" light solo="true" label="Password"></v-text-field>

                <div class="pb-3 pl-1">
                  <v-btn large color="#9FA8DA" class="font-btn" to="/signup">SIGN-UP</v-btn>
                  <v-btn large color="#9FA8DA" class="font-btn" to="/edit">LOG-IN </v-btn>
                </div>
              </v-form>
            </v-card-content>
          </v-card>

          <!--Sign up prompt kapag maliit screen-->
          <v-card color="#263238" dark class="hidden-md-and-up">
            <v-card-title primary-title>
              <div>
                <h3 class="font-sign">SIGN IN</h3>
              </div>
            </v-card-title>
            <v-card-content>

              <v-form class="px-3">
                <v-text-field label="Username" solo light v-model="username"></v-text-field>

                <v-text-field v-model="password" light solo label="Password"></v-text-field>

                <div class="d-inline pb-3 ma-3">
                  <v-btn color="#9FA8DA" class="font-btn" to="/signup">SIGN-UP</v-btn>
                  <v-btn color="#9FA8DA" class="font-btn">LOG-IN</v-btn>
                </div>
              </v-form>
            </v-card-content>

          </v-card>
        </v-menu>
      </v-toolbar>
    </div>
  </nav>
</template>

<script>
  export default {
    name: 'AppNavigation',
    data() {
      return {
        drawer: false,
        show1: false,
        username: ""
      }
    }
  };
</script>

<style scoped>
  @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

  .font-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 35px;
    font-weight: bold;
  }

  .font-sign {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
  }

  .font-btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
  }

  .remove {
    text-decoration: none;
    color: white;
  }
</style>