<template>
<div  class="landing-page">
</div>
</template>

<script>



export default {
    name: 'HomeMain'
};
</script>

<style scoped>
.landing-page {
    background: url("../assets/bg-main.png");
    background-size: cover;
    width: 100%;
    height: 100% ;
    
}
</style>
